@import '../../vars';

.primary-menu {
	align-items: center;
	display: flex;
	> div {
		flex-grow: 1;
		min-width: 100% / 3;
		text-align: center;

		> a {
			background-color: $primary-color-light;
			display: block;
			font-weight: bold;
			padding: 20px;
			text-decoration: none;

			&.active {
				background-color: $secondary-color;
				color: white;
			}
		}
	}
}