$images: "./images/";
$primary-color: #4dd0e1; //text black
$primary-color-light: #88ffff; //text black
$primary-color-dark: #009faf; //text black
$secondary-color: #0277bd; //text white
$secondary-color-light: #58a5f0; //text black
$secondary-color-dark: #004c8c; //text white
